[2015-06-25 23:03] karimzmi opened #1 "Syntax"
Would it be possible to follow the syntax referenced in the RFC such as op for operation (instead of o) and value (instead of v) etc? Thanks.

[2015-06-26 08:26] vishwakarma commented on #1
Sure, i ll make this change.

[2015-07-10 06:43] vishwakarma commented on #1
HI
The is fixed. Please use latest version 0.1.10.
Since in 0.1.10 , i have replaced o with op, v with value etc, hence this version wont be compatible with diffs generated by older version. Please take-care before using this latest version.

[2015-07-10 06:43] #1 closed

[2015-09-02 11:12] NargiT opened #6 "Deploy artifact on maven central"
Hello,

Could you please deploy this artifact on maven central repository http://search.maven.org/ ?

Thx !

[2015-09-02 12:10] vishwakarma commented on #6
Hi
I have raised a JIRA ticket to upload zjsonpatch to maven central, once they grant the permission I will push it same.
Meanwhile, you can access this project via clojars too by mentioning
Add following to `<repositories/>` section of pom.xml -
[code]

[2015-09-02 12:19] vishwakarma commented on #6
JIRA link : https://issues.sonatype.org/browse/OSSRH-17441

[2015-09-02 14:02] NargiT commented on #6
Its perfectly working no worries, its just more practical to have on maven central.

Thx !

[2015-10-02 20:34] sharathsrinivasa commented on #6
Hello,

Is this already deployed to mvn central repository? I still don't find it there.

Thanks!

[2015-10-07 21:53] vishwakarma commented on #6
Hey sharath, i m not getting time to deploy on maven, will do once i get chance.
Please use clojars meanwhile to download this project as dependency as follow -

Add following to `<repositories/>` section of pom.xml -
[code]
Add following to `<dependencies/>` section of your pom.xml -

[code]

[2015-10-09 21:46] sharathsrinivasa commented on #6
I understand how to use zjsonpatch. But, due to some policy, I could not use clojars to pull in the artifact. Could you please upload this artifact  to mvn central ASAP? That would be really great.

Thanks!

[2015-10-09 23:22] vishwakarma commented on #6
Hey
I have deployed on maven, can you please check now
https://repo1.maven.org/maven2/com/flipkart/zjsonpatch/zjsonpatch/0.2.1/

[2015-10-10 09:39] sectrait commented on #6
http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.flipkart.zjsonpatch%22

[2015-10-10 09:39] sectrait commented on #6
@vishwakarma
Thanks.

[2015-10-10 09:40] vishwakarma commented on #6
Since it is available on maven, closing this ticket

[2015-10-10 09:42] #6 closed

[2016-01-08 17:47] madebyherzblut opened #8 "Support "/-" for lists"
I am wondering if "-" is supported when diffing a list? Our backend uses this to distinguish between existing and new items in a collection. In RFC 6902 [section 4.1](http://tools.ietf.org/html/rfc6902#section-4.1) it says:

Is this supported?

[2016-01-08 18:02] vishwakarma commented on #8
Hey Christian ,
Yes "-" is supported.

[2016-01-10 13:25] madebyherzblut commented on #8
Thanks Gopi for the fast response. Maybe I am missing something (very) obvious here, but shouldn't this snippet:

[code]

create a patch like this?

[code]

[2016-01-12 18:52] vishwakarma commented on #8
Hey Christian
Apologies for delayed reply,
Yes, while computing diff, Append to list is not being represented as "-", but this "-" is supported while apply patch.
Let me know if you need this to be incorporated OR you can also send a pull-request for same. Both works for me.
Thanks

[2016-02-09 10:00] NidhiPaleja opened #10 "Taking too much"
Hi,
I am using jsonpatch in my application to compare the json files and thereby generate comparison report of the same.
In the jsonpatch there one code present to create the matrix in lenth() method in com.topologi.diffx.algorithm.DiffXFitopsy.java.
It has nested for loop because of which my application is taking very long time and sometimes gets stuck badly.
Can you plz help me out I am badly st

[2016-02-10 07:52] vishwakarma commented on #10
Hi Nidhi
This project doesn't have DiffXFitopsy.java, Can you please check over it.
Further can you please check the size of your input json over which you are computing diff ?

[2016-02-14 07:29] vishwakarma commented on #10
Hey , Did you look into your project, for DiffXFitopsy.java ?

[2016-02-15 16:56] karolovbrat opened #11 "Add possibility to treat arrays as values when computing json diff"
I was wondering whether you would be willing to accept an extension to the library which could treat the json arrays as values when producing the diff?

This would mean adding the possibility to report the change:
`{"array":["A","B","C"]} -> {"array":["C","A","B"]}`
as
`[{"op":"replace", "path":"/array", "value":["C","A","B"]}]`

The idea is to have the possibility to know that an array has change

[2016-02-18 06:49] #10 closed

[2016-02-18 06:53] vishwakarma commented on #11
1. This would deviate from the specification mentioned in RFC 6902.
2. But i would be happy to accept this change as a new API in this library.

[2016-03-18 14:06] mestag-a opened #12 "Support for "copy" and "test" operations"
Hi. I was wondering why there seemed to be no support for "copy" and "test" operations (both specified by the RFC).
Is it currently in development ? If not, is it planned ?

[2016-05-01 09:23] vishwakarma commented on #12
Hey, extremely sorry for such a late response.
The "copy" & "test" operations are currently not supported, i will be incorporating them soon. Meanwhile i  will happy, if you are interested in making a PR for same.
Thanks

[2016-05-01 09:23] #8 closed

[2016-05-01 09:23] #11 closed

[2016-08-04 10:05] mohamadk opened #18 "bug in replace array in json"
hi thanks for this great library.
when I'm getting differnt between this two jsons
"{\"b\": [1,2,4,9]}"
"{\"b\": [6,2,4,9]}"
the difference value currectly return operation replace in location 0.

but if I get diff this two jsons

     {
     "sections": {

    "array":[
      2,
      2,
      5,
      6
    ],

    "general": {
      "title": "\u0627\u0637\u0644\u0627\u0639\u0627\u062a \u06a9\u0

[2016-08-04 16:16] vishwakarma commented on #18
Agreed, thanks for pointing out the issue. Clearly, the diffs generated are not optimized in this case.
I will fix this once i  get some space to work on this project, Moreover, i would be glad to accept PR for same.

[2016-08-30 06:11] boekhold opened #20 "1.0 <> 1"
If I compare the following 2 fragments:

expected:
[code]
test data:
[code]
zjsonpatch considers this different and generates a  As far as I am aware, in JavaScript/JSON there is no distinction between integers and floats/doubles: they are all considered 'numbers'.

zjsonpatch should not generate a "replace" patch node for this.

[2016-08-30 17:54] vishwakarma commented on #20
Agreed,
Its data portability issue trickled down because of language implementation.

[2016-10-26 10:31] nebevay commented on #18
Hi, I've looked at the code a bit and I think the underlying issue is that REPLACE operations are not collapsed. Take the following arrays:

source: [1, 2, 3, 4, 5]
target:  [5, 1, 4, 3, 2]
lcs:       [1, 2] ([1, 4] or [1, 3] would also be valid)

You will get, REMOVE 1, REPLACE 2 5, ADD 1, REPLACE 3, 4, REPLACE 4, 3, REMOVE 5, ADD 2

To reduce this into moves you would need the following:
REMOVE

[2016-11-06 13:42] puntogil opened #24 "Source files are without license headers"
Hi
All java source files are without license headers.
Please, confirm the licensing of code and/or content/s, and add license headers.

https://fedoraproject.org/wiki/Packaging:LicensingGuidelines?rd=Packaging/LicensingGuidelines#License_Clarification

Thanks in advance
Regards

[2016-11-11 04:05] Jagannathan6 opened #25 "Does this fail if the input JSON files are large?"
It looks like this library fails if the JSON file is too large. The results were complety wrong.

[2016-11-11 16:15] vishwakarma commented on #25
Nope, please share the input json here or at vishwakarma.iiita@gmail.com

[2016-11-18 19:52] vkovalchuk commented on #24
Excusez-moi mon amis Puntoqil, did you look at https://github.com/flipkart-incubator/zjsonpatch/blob/master/LICENSE? Do you need some coffee?

[2016-11-18 21:53] puntogil commented on #24
Please, see https://www.apache.org/legal/src-headers.html "WHAT FILES IN AN APACHE RELEASE DO NOT REQUIRE A LICENSE HEADER?"

[2016-11-18 22:05] puntogil commented on #24
Despite that it is licensed under a very permissive license, it is still licensed, and that needs to be made clear. This is necessary for this reason:
Not licensed code, read code not licensed under a certain license or missing any license information has to be assumed to be not licensed. Which means that it defaults to "all rights reserved" which pretty much means "don't touch, and sometimes bett

[2016-11-21 14:42] holograph commented on #24
I have no argument, just that IMO this is definitely a "pull request if you care enough" kind of situation...

[2016-11-23 08:33] vishwakarma commented on #24
Thanks @puntogil  for PR for same.

[2016-11-23 08:33] #24 closed

[2016-11-23 13:41] holograph commented on #25
Can you be a bit more specific about how it failed, and how large is large?

[2016-12-07 14:50] vinesh2011 commented on #20
any idea when can we get this fixed?

[2016-12-08 06:29] boekhold commented on #20
The problem is really in Jackson. If you have a Json document that has "field":"0", it is parsed internally as a java.lang.Integer. Similarly, "field":"0.0" is parsed as a Double. And JsonNode.equals() doesn't consider those to be the same, because it also compares the class.

In my case, the JSON I'm comparing is actually produced by org.json.JSONObject.toString(), which has the annoying habit of

[2016-12-12 21:33] sudhak271 opened #27 "How do I access the source and target values in a reported diff between 2 jsons?"
I'm trying to find the diff between two JSON objects using zjsonpatch. However, I want the results to return the source as well as the target values of the changed object. For example, the following:

    ObjectMapper mapper = new ObjectMapper();

    JsonNode source = null;
    JsonNode revised = null;
    try {
        source = mapper.readTree("{\"a\":1, \"b\":2}");
        revised = mapper.read

[2016-12-12 22:23] holograph commented on #27
JSON Patch payloads are not reversible (i.e. they don't carry the data
you're missing, at least not by design).

It might be possible to carry this data along by extending the RFC schema,
but this isn't standard and will only be supported by this library. What I
would advise instead is to always calculate a reverse diff and store both
payloads; this is easy to implement and does not require specia

[2016-12-13 16:26] #25 closed

[2017-02-27 05:56] #27 closed

[2017-02-27 11:11] marcosscriven opened #29 "JsonDiff.asJson 'replace' ops are reversed."
I *think* there's an issue with the output of ```JsonDiff.asJson```.

While the ```add``` and ```remove``` ops are as expected, the ```replace``` op seems to have the ```source``` value, rather than the ```target``` value.

A simple workaround to this is reverse the arguments, and reverse the meaning of ```add``` and ```remove```.

[2017-02-27 11:25] vishwakarma commented on #29
Hi
The replace operation ( diff generated ) have following components -
1. path
2. value ( which is target's value)

Is there anything am i missing here ?
Can you please quote an example for same ?

Thank you

[2017-02-27 11:36] marcosscriven commented on #29
Wow @vishwakarma - fast response. I should say, thanks for this library, saved me a lot of time.

I'm confused why the ```replace``` op provides the target's _current_ value? I thought the point of the diff was to be able to take the original source, and apply the diff? If the diff contains the target's current value that's not possible.

As I say, if I reverse the args, then the ```replace``` op

[2017-02-27 11:44] marcosscriven commented on #29
Ah - I'm sorry about this. I see now the behaviour is correct.

[2017-02-27 11:44] #29 closed

[2017-02-27 11:44] vishwakarma commented on #29
Actually as per the RFC, following equation hold -
 **source + diff = target**

So, in case of replace operation, diff will have with what value the replace should happen so that it becomes equivalent to target.
Example :
sourceJson => {"compare":"c"}
targetJson => {"compare":"d"}
Diff => [{"op":"replace","path":"/compare","value":"d"}]

Now, if we apply diff on top of sourceJson, then we ill get

[2017-02-27 11:47] marcosscriven commented on #29
Yes, that makes sense. Thanks again for your work.

[2017-03-09 23:01] rrva opened #32 "Option to ignore order of array elements"
I am looking for a way to ignore the order of array elements, so that

[code]

is equal to

[code]

[2017-03-10 04:09] vishwakarma commented on #32
Hi @rrva
Currently as per the RFC, 2 arrays are considered as not equal even if they have elements in different order.
Hence, currently there is no support as requested by you.

[2017-03-10 08:21] rrva commented on #32
Yes, I was asking for an _optional_ way (not on by default to accomplish this)

Currently I was thinking to postprocess the diff using something like this:

[code]

[2017-03-12 20:11] vishwakarma commented on #32
Yeah, currently there is not any provision for optionally ignoring diffs in ordering of elements in array. You need to work on the diffs generated by  excluding move operations within array.

[2017-03-13 13:07] rrva commented on #32
Ok, closing for now then if what I pasted is the best way to currently do it, and there are no plans to make it configurable.

[2017-03-13 13:07] #32 closed

[2017-03-20 18:56] acsadam0404 commented on #12
Will this ever be implemented? I looked at the other json patch implementation only because of missing copy operation, but yours are 5x faster! It would be nice if you could implement it :)

[2017-03-20 19:13] vishwakarma commented on #12
Sure, I will try best to incorporate copy & test operations by end of this week.

[2017-03-22 07:49] vishwakarma commented on #12
Hi @acsadam0404, i have made the changes in "copy-test-op" branch, currently i m testing & refactoring it, let me know if u wana give it a try too.

[2017-03-22 18:10] acsadam0404 commented on #12
@vishwakarma i'm not available today and tomorrow but in friday i would definitely want to give it a try! Thanks for this!

[2017-03-23 07:27] vishwakarma commented on #12
Hi @acsadam0404 , i have currently tested it against existing 128 test cases and 1000 programmatically generated test cases, looks good.
Please let me know any test case  or any unexpected behaviour which u come across while testing.

[2017-03-27 07:59] vishwakarma commented on #12
Hi @acsadam0404
Let me know if got  chance to test this, if all ok, then shall merge it with master and release it ?

[2017-03-27 09:34] acsadam0404 commented on #12
@vishwakarma I tested it and it seems all right for me. I really appreciate your work.

In my app (which is not yet in production) I use this extensively, with ~5 patch/sec data so if there is any error arise we will know it soon.

[2017-03-27 12:24] vishwakarma commented on #12
cool
Thanks, i will release it today then.
i will update you here once released.

[2017-03-27 12:36] vishwakarma commented on #12
I have released 0.3.1, please go ahead and try it.
thanks again for testing

[2017-03-27 12:36] #12 closed

[2017-06-24 13:36] manhhavu opened #36 "Run custom code while applying a patch"
I'm looking for a mechanism allowing to run custom code while applying a patch to a JSON document.

My use case (simplified) is following:
* I have complex documents (in XML) that I need to keep in sync with an external system (that I don't have control).
* Suppose that a document has following structure:
[code]
* Sometime, I have to update a document then synchronise it with the external system.

[2017-06-26 18:22] pankaj-s commented on #20
[Jackson Coreutils](https://github.com/fge/jackson-coreutils) might be helpful here as it provides numeric equivalence.

[2017-06-27 22:11] Jainpriyal opened #37 "Print diff on Console"
Is there a way I can print the diff of two jsonFiles on console instead of just printing the patch.
I am looking for something similar to the output generated by http://www.jsondiff.com/

Does this library has this feature? Is there a way I can use this library to print changes in console.

[2017-06-28 05:51] vishwakarma commented on #37
Hi @Jainpriyal
Currently this library doesn't provides diff as of http://www.jsondiff.com/, rather it provides diff patches. If you have 2 JSONFiles, then you may linux tools to get diffs Or alternatively you may use https://github.com/andreyvit/json-diff.
Thanks

[2017-06-28 17:07] Jainpriyal commented on #37
Thanks for your response. But I am looking for the java library that I can use in my package and not command line tool. Please let me know if you know any.

Thanks
Priyal

[2017-06-28 17:07] #37 closed

[2017-07-03 13:48] mlajtos opened #38 "Value in remove operation"
Hello :)

Is there any reason why remove operation contains value field? E.g.
[code]
According to the [RFC](https://tools.ietf.org/html/rfc6902#section-4.2), the value should not be there.

[2017-07-03 15:51] vishwakarma commented on #36
Hi @manhhavu
Apologies for such late response.

Unfortunately, currently there is no support for running custom code in this library.

As i understood, you need a support of preview after patch Operation, and then there we can decide wether to apply or abort the patch. One way to build is to apply the patch on copy of target json document and save that state. Once user confirms the changes ( previ

[2017-07-03 15:55] vishwakarma commented on #38
:)
The value field had been added by me to validate the key/value being removed in one my project, but later i solved that using versioning of whole target json document.
Please feel free to raise pull request to fix this and bring this code in accordance to RFC.
Thanks again for highlighting out this issue.

[2017-07-04 12:10] manhhavu commented on #36
Thank @vishwakarma for your explanation.

It was correct, your understanding of my requirement. I'm currently assessing **zjsonpatch** and some other approches. I will get back to you if I have any further questions.

I close this issue now as my question was answered.

[2017-07-04 12:10] #36 closed

[2017-07-04 16:33] vishwakarma commented on #36
Sure, please feel free to contact me.

[2017-07-06 02:14] cyber-front opened #39 "NullPointerException thrown when some other behavior would be preferable"
The following code produces a `NullPointerException` on line 42 of `ApplyProcessor.java`:

    package com.cyberfront.bad_update;

    import java.io.IOException;
    import com.fasterxml.jackson.databind.JsonNode;
    import com.fasterxml.jackson.databind.ObjectMapper;
    import com.flipkart.zjsonpatch.JsonPatch;

    public class Main {
        private final static String opString = "[{\"op\":\

[2017-07-21 05:20] cyber-front opened #40 "Inconsistent patch from derived diff when applied to source object"
In the following code sample, there is a source and target object.  The target object is derived from the source through the adjustment of some of the fields within the source.  A difference is computed and then applied to the source.  That resulting object is then compared to the target object with the expectation no difference should be detected.  Yet, this is not the case; there is a difference

[2017-07-21 05:21] cyber-front commented on #40
[bad_build.zip](https://github.com/flipkart-incubator/zjsonpatch/files/1164514/bad_build.zip)

[2017-07-21 06:01] vishwakarma commented on #40
Your source Json : https://pastebin.com/vDz7j2qB
Your target json : https://pastebin.com/fk0b8ME7

I can clearly see that, both jsons have got different fields values  like --
1. **version** : source contains value as 7 whereas target contains value as 10.
2.  Both differs in value if field "Id", "notes" etc as well.
Hence The diff is detected between two.

Please let me know, if you need more inf

[2017-07-22 01:46] cyber-front commented on #40
Yes, the `jsonSource` and `jsonTarget` values are different.  That, however, does not characterize the problematic behavior.

I compute the difference between `jsonSource` and `jsonTarget` and store that difference in `jsonSourceTargetDiff`.  When I apply that difference back to `jsonSource`, I expect it will generate `jsonTarget`, but it doesn't.  The difference between `jsonTarget` and `jsonTarg

[2017-07-23 13:35] hugebdu opened #41 "Supporting in-place patch"
@vishwakarma Gopi, hey.

We have in our codebase (event sourcing) a chain of patches we apply one after another and the target JSONs are pretty big.

WDYT about supporting another flavour (ie `JsonPatch.applyInPlace`) without the [`deepCopy()`](https://github.com/flipkart-incubator/zjsonpatch/blob/master/src/main/java/com/flipkart/zjsonpatch/ApplyProcessor.java#L31)

I can prepare a PR.

Thanks in

[2017-07-23 13:49] vishwakarma commented on #41
I understand your requirement.
Please feel free to raise a PR, it may introduce a new API in existing library for in-place Operations.

Thank you

[2017-07-23 14:48] vishwakarma commented on #40
Ah i see , its certainly an error.
I have identified the error ( a bug while forming COPY operation) and made the fix, will update you once i release it.
Thanks again for bringing up this issue.

[2017-07-23 15:57] holograph commented on #41
@hugebdu Sounds like a minor variant of `JsonApplyProcessor` (possibly a constructor overload, or  preferably a subclass), is that what you had in mind?

[2017-07-23 16:16] hugebdu commented on #41
@holograph ja

[2017-07-24 04:05] #38 closed

[2017-07-24 07:33] #41 closed

[2017-07-24 08:46] vishwakarma commented on #40
Hi @cyber-front
The issue should get fixed in latest release ( 0.3.2 ), please use it and let me know accordingly.
Thanks

[2017-07-25 15:42] holograph commented on #40
@vishwakarma why not close the issue? Reporter can always reopen it if necessary.

[2017-07-25 16:14] vishwakarma commented on #40
Yeah, actually i was waiting for reporter to let me know about status of his issue.
@cyber-front , please test with latest version and re-open the issue accordingly.

[2017-07-25 16:14] #40 closed

[2017-07-26 00:23] cyber-front commented on #40
Version 0.3.2 fixes this issue.  I concur with closing this.

[2017-07-26 00:34] cyber-front commented on #39
@holograph I used version 0.3.3, which according to the readme is the latest version, and I still see this behavior.  Is there a version after 0.3.3 I should be using instead?

[2017-07-26 05:12] vishwakarma commented on #39
Hi @cyber-front
This will get fixed by #45 , I will try my best to review & release it.

[2017-07-26 05:48] #39 closed

[2017-07-26 06:08] vishwakarma commented on #39
Please try 0.3.4, it should address this issue

[2017-07-26 13:41] Bubai14 commented on #1
I am using zjsonpatch for generating the difference between the two jsons. It gives me the modified value, but how to get the old value from this library?

[2017-07-26 16:10] holograph commented on #1
If by "original value" you mean the "value before a REPLACE op", you can
pass a flag set that excludes OMIT_VALUE_ON_REPLACE (IIRC) to
JsonDiff.asJson.
On Wed, 26 Jul 2017 at 16:41 Bubai14 <notifications@github.com> wrote:

[2017-07-27 01:16] cyber-front commented on #39
This fixes the issue.  Thanks.

[2017-07-27 11:44] Bubai14 commented on #1
Thanks for response @holograph . But in the version 0.33 I am only able to find OMIT_VALUE_ON_REMOVE option in the DiffFlags enum. Can you please clarify in detail?

[2017-07-27 12:04] holograph commented on #1
My bad, the library never output the original value on REPLACE, only on REMOVE. See example below. In other news, I just realized we're continuing on an old (and irrelevant) issue, feel free to open a new issue for any questions/bug reports/feature requests...

[code]

[2017-08-28 12:16] llper opened #46 "Change pom to latest 2.8.10 jackson release"
Hello,
since jackson 2.9 has been released, I would also build a zjsonpatch release targeting jackson 2.8.10 (latest 2.8). This will increase compliance with all software using latest 2.8.10 version.

KR,
D

[2017-08-28 13:51] vishwakarma commented on #46
Sure, please feel free to raise a PR

[2017-08-29 07:37] llper commented on #46
My eclipse complains about missing permissions when I try to push the branch I've created with the pom change. Do you know what am I doing wrong ?

[2017-08-29 09:20] vishwakarma commented on #46
I think first you need to fork this project, then commit the changes into that forked branch.
Then you come to original repo and raise a pull request by comparing this repo and your forked repo.
Let me know if you need any assistance on this.

[2017-08-30 14:19] PeterBackman opened #48 "Option to turn off copy and move"
The operations move and copy implies a relation between "from" and "path". This is based on matching values but that might not be a true relation.

Consider these examples:

First: `{"age": 10}`
Second: `{"height": 10}`
Patch result: `[{"op":"move","from":"/age","path":"/height"}]`

or

Second: `{"age": 10, "height": 10}`
Patch result: `[{"op":"copy","from":"/age","path":"/height"}]`

"age" does n

[2017-08-30 14:27] vishwakarma commented on #46
Merged the #47 , will release new version as 0.3.5

Thanks for PR

[2017-08-30 14:27] #46 closed

[2017-08-30 14:36] vishwakarma commented on #48
Sure, I understand your use-case and concerns.

 --- Bit of background ( reason for having Move & Copy Operations )
These operations (Move & Copy) were included to reduce the size of patch ( sequence of diffs ) generated. [RFC](https://tools.ietf.org/html/rfc6902#section-4.4).

Shall i take on the development of this ? or you wanna try it out ?.
I see we can easily incorporate this change by using

[2017-08-30 14:50] PeterBackman commented on #48
Thanks for a fast reply!

It would be excellent if you could implement this according to your suggestion.

In our case size do not matter but I understand that it can be important in other cases.

[2017-08-30 15:07] vishwakarma commented on #48
Sure
I will take on this ASAP.

[2017-08-30 15:21] vishwakarma commented on #48
Hi @PeterBackman
I have raised a PR #49 , Can you please review & test once ( just to make sure, it addresses your use-cases & concerns )

[2017-08-31 08:02] PeterBackman commented on #48
Code looks good and it worked fine when I used it in a small test application. I am very happy with this solution.

A possible improvement is to add a section in the README describing the possibility to change the behaviour of the patch generation via flags. Could be good for new users.

/BR Peter

[2017-08-31 11:01] vishwakarma commented on #48
Sure

[2017-08-31 11:07] vishwakarma commented on #48
Please use 0.3.5 version

[2017-08-31 11:07] #48 closed

[2017-09-13 07:14] PeterBackman opened #51 "Non intuitive behaviour of flags"
If I use `asJson(final JsonNode source, final JsonNode target)` I get the default behaviour which is to omit the value in remove.
If I use `asJson(final JsonNode source, final JsonNode target, EnumSet<DiffFlags> flags)` with no flags I do not get the default behaviour. This is non intuitive. This also means that if I want to use another flag on top of the default behaviour I need to add the `OMIT_

[2017-09-13 11:42] holograph commented on #51
I would prefer a fluent API to just inverting the semantics, something
along the lines of `DiffFlags.defaults().except(OMIT_VALUE_ON_REMOVE)`. But
that's just me :-)  The main qualm though is that what you're proposing is
a breaking API change.

On Wed, 13 Sep 2017 at 10:14 Peter Bäckman <notifications@github.com> wrote:

[2017-11-02 18:52] acchaulk opened #53 "Testing for a pointer that references a nonexistent value"
I would like to have a "test" operation that asserts a value is missing from an object. Would this be the correct way to do so?

[code]
Currently, this library will throw an exception "noSuchPath in source". Does it make sense to add this feature to the library?

[2017-11-06 17:57] vishwakarma commented on #53
Sure, Please feel free to raise a PR.

[2017-11-06 22:29] holograph commented on #53
That is strictly a nonstandard extension and should be handled with care.

From the RFC section 4.6: “The "test" operation tests that a value at the
target location is
equal to a specified value.”

In other words the discussed feature literally subverts the semantics of
the standard.
On Mon, 6 Nov 2017 at 19:57 Gopi Vishwakarma <notifications@github.com>
wrote:

[2017-11-07 14:25] acchaulk commented on #53
Per the "Error Handling" section of the [RFC on JSON Pointers](https://tools.ietf.org/html/rfc6901#section-7):

I am fine with not implementing this and am looking for a mechanism to test for a non-existent pointer.

[2017-11-29 11:32] ravindra1986 opened #55 "Json Diff"
while doing the json node diff in replace operation it should print new value as well.
in current scenario it is printing only old value.

[2017-12-05 07:37] PriyangaSubramanian opened #56 "bug in json array removed."
If i compare the below two jsons,
Json 1:
`{"a":{"b":[{"value":0},{"value":1},{"value":2}]}}`

Json 2:
`{"a":{"b":[]}}`

The result I am getting is,
[{"op":"remove","path":"/a/b/0"},{"op":"remove","path":"/a/b/0"},{"op":"remove","path":"/a/b/0"}]

The actual result should be

[2017-12-05 09:28] holograph commented on #56
This is not a bug, but completely on [spec](https://tools.ietf.org/html/rfc6902#section-4.2):

[code]

The shift to the left moves subsequent elements to the 0th index. In conjunction with the RFC [section 3](https://tools.ietf.org/html/rfc6902#section-3):

[code]

This means the target is mutable, so this is actually the correct response.

[2017-12-05 09:29] holograph commented on #56
Actually, your example should fail to process, whereas the reverse (remove index 2, then 1, then 0) would work fine :-)

[2017-12-05 14:24] Alex-Cook4 commented on #56
I have a similar issue with:

[code]
I was expecting to get:
[code]
Which would help me identify the elements that were actually removed.

If I run in reverse, I get what I expect:

[code]

[2017-12-08 19:40] vishwakarma commented on #55
Replace operation currently holds the "new value"  [reference](https://tools.ietf.org/html/rfc6902#section-4.3)

[2017-12-08 19:42] #51 closed

[2017-12-08 19:42] #53 closed

[2017-12-08 19:42] #55 closed

[2017-12-08 19:46] vishwakarma commented on #56
Thanks @holograph for the clarification.
@PriyangaSubramanian @Alex-Cook4 , please let me know if any further clarification is needed on this.
IMO, the specification refers to Patch ( not diff ) which is series of operation when applied to source json to generate target json.

[2017-12-08 19:46] #56 closed

[2017-12-14 09:38] MihaiMihalache opened #57 "Diff Replace - does not contain original value"
When doing a diff between two jsons, for the REPLACE operation the fieldChanges should contain also the original value. I can work on this feature as I think it brings value to this library.

[2017-12-14 14:00] vishwakarma commented on #57
Hi @MihaiMihalache , please refer to my comment on your PR.
Thanks

[2017-12-15 10:05] MihaiMihalache commented on #57
Hi vishwakarma,
I updated the PR.
Thx!

[2017-12-21 01:33] vishwakarma commented on #57
PR merged

[2017-12-21 01:33] #57 closed

[2017-12-22 15:36] LouizFC opened #59 "Interest to remove/migrate apache and guava dependencies"
while reading the source code, I realized that most of the methods used from apache and guava libraries could be ported to the kotlin std lib or written by hand. I think that the library would benefit much from the shrink in dependencies, since guava is almost 2.5MB

So I ask if there is interest in migrating? I can make a commit for this after the holidays. My only worries are about java 6 compab

[2017-12-22 16:32] vishwakarma commented on #59
I agree, removal of apache and guava dependency will make this library more slim and useable.
It would be more preferred if this library remains compatible with all java versions.
All corresponding replacements of guava and apache usage can be replaced easily ( More than 1000 test cases to verify that ).
I can pick this task since i am already aware of the codebase, but let me know the otherwise,

[2017-12-22 19:14] LouizFC commented on #59
@vishwakarma Thank you. Because english is not my primary language I had some difficult understanding you last question, I am sorry.

for what I understanded: I will commit the changes in the source and you will change the tests?

another question: would you prefer to move all the new methods to a "InternalUtils.java" or declare each method inside the class that uses it?

[2017-12-22 19:50] vishwakarma commented on #59
Hi @LouizFC
No problem :)
I have raised a PR #60 , which contains removal of apache commons dependency (Wrote own LCS). Please review it and kindly make further changes in the same branch for  removal of guava dependency.
I have a large test suite ( 16M json docs & updates ) apart from one checked-in with this library, I will use it to validate all our changes.

[2017-12-23 17:47] LouizFC commented on #59
Thank you @vishwakarma
I am doing the changes now.
I have two questions so far:

- Can I rename the "getArrayNodeRepresentation" to "getPathRepresentation"? it's a private api method, so I think it will not bother anyone.
- In the JsonPatch#getPath method, there is the following code:

[code]
There in the `replaceAll("\"", "")`, it is actually removing all the quotes from the JsonNode String repre

[2017-12-24 06:03] vishwakarma commented on #59
Sure @LouizFC , Please go ahead
and regarding "**replaceAll("\"", "")**", I will check this and get back to you

[2017-12-24 19:17] LouizFC commented on #59
JsonNode has a method called "asText". Seeing the implementation of JsonNode, it creates a TextNode for holding string values. It stores the value without quotes, and you can retrieve this value using "asText" maybe that can help.

[2017-12-27 17:33] vishwakarma commented on #59
I will try out "asText"

[2017-12-27 17:39] #59 closed

[2017-12-28 10:42] PeterBackman opened #61 "New flags introduces non compatible changes to JsonDiff.asJson"
Hi this is related to Issue #51. As of Issue #58 a new optional feature was introduced adding a new flag: OMIT_ORIGINAL_VALUE_ON_REPLACE. This made the API break for `public static JsonNode asJson(final JsonNode source, final JsonNode target, EnumSet<DiffFlags> flags)` since I get different output with unchanged input. I think this method should be treated with the same vigilance as the method wit

[2017-12-28 11:05] holograph commented on #61
Agree wholeheartedly. I was thinking along those lines when I saw the
merge, but you managed to articulate this much more clearly than I would 👍
On Thu, 28 Dec 2017 at 12:42 Peter Bäckman <notifications@github.com> wrote:

[2017-12-28 11:50] LouizFC commented on #61
I vote for the following approach:

1. Mark all public methods that require flags in the parameters as deprecated (JsonDiff#asJson, JsonPatch#apply and JsonPatch#applyInPlace)
2. Make JsonPatch and JsonDiff instantiable, the current public static methods that don't requires flags can use a default instance internally.
3. Make something similar to Jackson's ObjectMapper#configure method, a set of f

[2017-12-28 13:14] LouizFC commented on #61
@PeterBackman, could you please provide a snippet of the issue? I will take some time later to fix it

[2017-12-28 14:02] PeterBackman commented on #61
`source = {"a":1}`
`target = {"a":2}`

Sample code used in both versions:
[code]

JsonPatch 0.3.5:
result = `[{"op":"replace","path":"/a","value":2}]`

JsonPatch 0.4.0:
result = `[{"op":"replace","fromValue":1,"path":"/a","value":2}]`

[2017-12-28 21:19] LouizFC commented on #61
Let me ask: Since compatibility is already "broke", should I rename the OMIT_. to ADD_. and change the behavior of the flag?

[2017-12-29 07:45] PeterBackman commented on #61
I looked at the commits and saw that the flag was introduced in 0.3.10 which is quite recent so it makes sense to change that flag. From my perspective the patch looks good.

Long term I think a rewrite of the interface is good. Using the methods with the flags parameter are non-intuitive. Perhaps something for next year 😃

[2018-01-01 10:15] vishwakarma commented on #61
Thanks @PeterBackman @LouizFC

[2018-01-01 10:15] #61 closed

[2018-01-19 11:52] LouizFC opened #63 "Internal refactor of JsonDiff and add some tests."
While I was reading [this](https://news.ycombinator.com/item?id=13983085) I had a brief insight. With a custom tailored diff algorithm, maybe we could fix both https://github.com/flipkart-incubator/zjsonpatch/issues/18 and https://github.com/flipkart-incubator/zjsonpatch/issues/20.

I propose the following refactors on JsonDiff:

1. Create better tests for JsonDiff to avoid things like https://git

[2018-01-20 08:18] holograph commented on #63
I’m theoretically all for it, except the added complexity had better be
worth it; to be frank in our use cases performance was never a serious
issue or consideration, but perhaps others have different requirements?
On Fri, 19 Jan 2018 at 13:52 Luiz Felipe da Cruz Oliveira <
notifications@github.com> wrote:

[2018-01-20 15:42] LouizFC commented on #63
@holograph Thanks for your reply.
Perfomance tweaks are more a of a habit of mine. As you said, the added complexity just for perfomance sake may not pay off in the end.

But in general I want to add more complexity for the sake of flexibility.

I want to (try to) make bug fixing and feature creation easier and I think that the better way to do this is separating responsabilities and delegating th

[2018-01-30 15:39] amarchewka opened #64 "copy/replace in one patch doc"
If I start with the following JSON doc:
`{"profiles":{"abc":[],"def":[{"hello":"world"}]}}`

and apply the following patch:
`[{"op":"copy","from":"/profiles/def/0", "path":"/profiles/def/0"},{"op":"replace","path":"/profiles/def/0/hello","value":"world2"}]`

I get the following output:
`{"profiles":{"abc":[],"def":[{"hello":"world2"},{"hello":"world2"}]}}`

That is, the "replace" operation was app

[2018-01-30 21:06] luliu commented on #64
I noticed in `InPlaceApplyProcessor`'s `copy` function, the same `valueNode` object is assigned to the `toPath`:

https://github.com/flipkart-incubator/zjsonpatch/blob/af15e01024e94a0afe9377b9d9e54e246dfe91e8/src/main/java/com/flipkart/zjsonpatch/InPlaceApplyProcessor.java#L53-L59

Is this a bug? As any mutation done to the source `JsonNode` in the same batch of patch operations  will affect the t

[2018-01-31 05:30] vishwakarma commented on #64
@luliu @amarchewka
Agreed, this certainly looks like a bug ( Using copy by reference instead of copy by value ), i will go deeper into the code and will fix the issue by this week.
Thank you for raising the issue.

[2018-01-31 14:09] amarchewka commented on #64
That's great.  Thanks!

[2018-01-31 15:14] vishwakarma commented on #64
The bug is fixed, Closing the issue.

Thanks again for raising the issue.

[2018-01-31 15:14] #64 closed

[2018-02-07 13:09] Anatolii opened #65 "Replace of non existing path results in addition of that path"
Thanks for a great library!

I found this issue which is possible to reproduce in version 0.4.2

Given I have source json:
{ }
When I apply patch:
[
  {
    "op" : "replace",
    "path" : "some-not-existing-path",
    "value" : "some-value"
  }
]
Then I get result:
{
  "some-not-existing-path" : "some-value"
}

I would expect that implementation will throw an exception or will skip replacement of

[2018-02-07 13:12] vishwakarma commented on #65
Agreed as per RFC "The target location MUST exist for the operation to be successful".
I will look into the library for this bug and will fix it as soon as possible if required.

[2018-02-07 13:22] holograph commented on #65
Might want to add a backwards compatibility flag as well, this may break
existing clients
On Wed, 7 Feb 2018 at 15:12 Gopi Vishwakarma <notifications@github.com>
wrote:

[2018-02-20 19:41] LouizFC commented on #63
Some updates on this issue:

* Since Jackson 2.6, JsonNode has a method called `equals(Comparator<JsonNode>comparator, JsonNode other)`. This method returns true if the given `Comparator` returns 0 (according to `Comparator` contract/documentation, 0 means equality) on its "Comparator#compare" method. So the numeric equivalence can be easily solved using that, without any backward incompatible cha

[2018-03-04 16:16] #65 closed

[2018-03-12 08:27] danieldonev opened #67 "add change log tracking file"
It would be really useful to have CHANGELOG.md where we can see the version changes.

[2018-03-12 17:15] dandoug commented on #67
There's always the info at https://github.com/flipkart-incubator/zjsonpatch/releases

[2018-03-12 17:32] vishwakarma commented on #67
Thanks @dandoug
Hi @danieldonev, I will try to be more descriptive regarding changes pushed with each release at https://github.com/flipkart-incubator/zjsonpatch/releases. Since I haven't maintained separate CHANGELOG.md, please use releases section for changes pushed.

[2018-03-13 08:22] milka0013 opened #68 "Bug - compared to json"
From the version (0.3.*) when comparing two json differing only in one verse, I get "copy" error  instead  of "add"
e.g
`{"data1":"data1","value":null,"dataList":[],"data3":{"amount":17.2,"currency":"EU"},"type":"type"}`

`{"__data":null,"data1":"data1","value":null,"dataList":[],"data3":"amount":17.2,"currency":"EU"},"type":"type"}`

result :
`[{"op":"copy","from":"/type","path":"/__data"}]`

[2018-03-13 14:57] #67 closed

[2018-03-13 15:05] vishwakarma commented on #68
@milka0013
It's because of COPY Operation, As per specs ADD operation is used when a new value is introduced in json, if we can re-use an existing value then COPY is preferred.

[2018-03-14 07:49] milka0013 commented on #68
but those are different only  __data value. First Json hasn't this value.

[2018-03-14 16:06] vishwakarma commented on #68
Hi @milka0013
There is a difference in the output i have got.
Json1 => {"data1":"data1","value":null,"dataList":[],"data3":{"amount":17.2,"currency":"EU"},"type":"type"}

Json2 : {"__data":null,"data1":"data1","value":null,"dataList":[],"data3":{"amount":17.2,"currency":"EU"},"type":"type"}

patch : [{"op":"copy","from":"/value","path":"/__data"}]

Here in the patch, it says copy the data present

[2018-03-17 17:39] vishwakarma commented on #68
Hi @milka0013, Please let me know if above answered your question?

[2018-03-19 12:12] #68 closed

[2018-04-03 15:07] MrTetrixx opened #69 "Strange NumberFormatException when having maps with Long keys"
Hello, I am using zjsonpatch in a project and I really like it.

I ran some of our data through it and came across a strange error. I have not looked at the zjsonpatch code yet but from the stacktrace it looks like it is doing `Integer.parseInt()` on that `Long` value used as a key in the map.

### The stacktrace:
[code]

### Code to replicate the issue:
[code]

What makes it strange is that
* if

[2018-04-03 15:12] vishwakarma commented on #69
Thanks for raising the issue, please allow me a day to look into the issue, I will get back on it very very soon.

[2018-04-03 20:11] vishwakarma commented on #69
@MrTetrixx This clearly a bug, line #104 & # 105, should be replaced by Long parsing ( this way it wont lose the necessary precision ).
Would you like to raise a PR for same or shall I take over on it?

[2018-04-03 21:46] MrTetrixx commented on #69
You can take over, no problem.

Please check if there are any other issues of using unusual keys in a map, like BigDecimal or something.

I extended the test with a real assertion:
[code]
Should this test return a `copy` or an `add` operation? How does it decide between them?

[2018-04-05 13:01] LouizFC commented on #69
@MrTetrixx copy comes over add when you create a field that has a value that is already present on your json.

In your case, you are creating a field called "extraField" with the same value as "otherField", so the copy takes "priority".

The library basically only generates Add and Remove operations if I am not wrong, then these operations are compacted into replace, move and copy operations. You

[2018-04-05 13:13] MrTetrixx commented on #69
Yes, I guess I can set the `OMIT_COPY_OPERATION` and `OMIT_MOVE_OPERATION` flags to only get add, remove and replace.

[2018-04-06 20:06] vishwakarma commented on #69
@MrTetrixx , i have put the fix in #70 , would you like to test it?

[2018-04-10 08:07] MrTetrixx commented on #69
I have run our data through the diff again and it looks much better.
When will the fix be released?

[2018-04-10 12:33] vishwakarma commented on #69
I am currently on vacation, I will release it on coming Thursday.

On Tue, Apr 10, 2018, 1:37 PM MrTetrixx <notifications@github.com> wrote:

[2018-04-10 12:50] MrTetrixx commented on #69
Great, looking forward to it!
(also stop checking github and enjoy your vacation :tropical_drink:)

[2018-04-12 18:49] vishwakarma commented on #69
released 0.4.4, please use it.
Thank you for raising the bug

[2018-04-12 18:49] #69 closed

[2018-04-16 10:26] anirudhbh2004 opened #71 "Type mismatch in comparison"
Is it possible to add an enum for type mismatch as well?

In one of my use case, the value at a particular JSON patch was same but one was of type string and other was of type long and I wasn't able to figure out the reason for failure.

[2018-04-16 12:34] LouizFC commented on #71
@anirudhbh2004 Hi.

I have a plan to release a feature that might help you, you can see more here https://github.com/flipkart-incubator/zjsonpatch/issues/63#issuecomment-367095122.

I please ask you to read through the comment and see if it can solve your problem.

Other thing that might be of use is implementing some predefined "Modes". Some examples would be:

- Default
the way we handle things

[2018-04-18 12:22] mahe-work opened #72 "Normalize to move & copy sometimes produces broken patches"
We have been keeping a version history of documents stored into MongoDB by storing every single version of the whole documents into a separate journal collection. This journal is starting to grow uncontrollably and since mongodb stores json documents, we're investigating changing the journal format to jsonpatches to reduce the size of the collection.

We have evaluated zjsonpatch library and found

[2018-04-18 12:47] vishwakarma commented on #72
Hi @mahe-kl, Thanks for writing in
I am glad that this project is useful to you.
Meanwhile, if you could send even the large test cases which are failing, I would debug them.

[2018-04-25 06:36] mahe-kl commented on #72
The problem is, this happens with production customer data which I cannot share with you. I have to try to come up with an artificial test case for your inspection.

[2018-04-25 06:41] vishwakarma commented on #72
If possible, can you mask the production data and share?
Like if the data contains user's name then you may mask it with other string and same for other fields?

[2018-04-25 06:43] mahe-kl commented on #72
I will definitely try as soon as I have little time to dedicate for this issue.

[2018-06-11 06:47] holograph commented on #72
Alternatively, can you re-run the test with just `DiffFlags.OMIT_MOVE_OPERATION`, and subsequently with `DiffFlags.OMIT_COPY_OPERATION`? Will help narrow the problem down.

[2018-06-11 06:52] holograph commented on #72
This is likely in the `MOVE` generation path:

[code]

This can actually subtly change the ordering in the resulting diff sequence. I'll try to construct a valid example but my connectivity is pretty bad where I am, so it might take a while.

[2018-08-13 13:29] danieldonev opened #76 "Option for marking a variable as "Not Patchable""
First of all - Amazing project.
Works really fast and it is easy to use.

I am missing just one functionality.

It would be really good (since it uses Jackson beneath) to add @Anotation for marking variables as "Not patchable".

So if patch attempt is made on variable marked with (for ex.) @DisablePatch - the patch function will throw an exception.

Is such thing possible ?

Thank you in advance.

[2018-08-13 16:13] vishwakarma commented on #76
Hi @danieldonev,  Thanks for writing in.

Please share your thoughts on following --
1. Can you please share a real-life use-case as per your product, if applicable?
2. What are other Annotations support required to be supported?
3. While generating Diff/Patch, should algorithm honor the annotations like - do not generate diff on the variable with @DisablePatch, because if we don't honor them then

[2018-08-13 16:49] danieldonev commented on #76
Hey @vishwakarma
1. In my `Account` class there is properties such as `password` and`tempPassword ` variables which must not be patched, but properties as `email` or `name` can be.

2. Sorry but I don't understand the question :(

3. If you try to patch a variable decorated with the @anotation in question - the patch method should throw an exception with something like - "Can not patch variable wi

[2018-08-15 10:38] ov7a opened #77 "Memory issue with 0.4.0+"
It seems that In newer versions (0.4.0+) JsonDiff consumes significantly more memory. Most probably this is related to #60 and getLCS method.

For version `0.4.4`:
[code]

I'm comparing two quite large jsons, around 700 Kb each, with around 300Mb of memory.
It is caused by comparing two arrays with around 40 000 of strings each.

Version 0.3.10 works just fine.

[2018-08-15 12:33] danieldonev commented on #76
Any idea if this is possible?

[2018-08-15 13:15] LouizFC commented on #77
If I am correct 0.4.0 is the update that removed Apache Commons.

The way @vishwakarma  implemented the current algorithm uses an array for collecting the diffs and then produces the result.

If I am not wrong, the LCS algorithm from Apache uses a kind of cursor called "Snake" that accumulates the result just by transversing the two lists without creating extra objects, just adding a counter.

I w

[2018-08-15 21:14] ov7a commented on #77
I've made a MWE in [gist](https://gist.github.com/ov7a/501fad09862c2ba36ea7618aa6a67577).

[2018-08-16 09:27] vishwakarma commented on #77
@ov7a Agreed, it can because of the nature of LCS algorithm ( internally used in case of arrays ) due to its runtime & spacetime complexity. I will work on it with your example as benchmark to improve it.
@LouizFC , kindly let me know if you need any assistance here on this, meanwhile i will be also working on it and will get in touch with for the alternates.

[2018-08-16 15:51] LouizFC commented on #77
@vishwakarma I did not have the time for profiling it yet, but I checked the [Apache implementation](https://commons.apache.org/proper/commons-collections/apidocs/src-html/org/apache/commons/collections4/ListUtils.html) (more importantly, [this](https://commons.apache.org/proper/commons-collections/apidocs/src-html/org/apache/commons/collections4/sequence/SequencesComparator.html)) and it uses two

[2018-08-20 03:37] LouizFC commented on #77
The problem is more severe than I though.

But first, a brief disclaimer: I rarely use profilers. In this case I used VirtualVM. So if the results are a bit off I beg your pardon.

## 0.3.10
- No VM args:
![0.3.10](https://i.imgur.com/quscF4y.png)
We have very linear heap allocation and little spike present on the creation of the final patch object.
## 0.4.4
- No Vm args:  `OutOfMemoryError´.
- `-

[2018-08-20 05:30] vishwakarma commented on #77
I agree, let's add Apache library for now to unblock the users and fix the
reported issue.
That will buy us some time to look into Apache implementation and fix with
our own code.
Please add the apache library back and I will review and test it.
Thanks

On Mon, Aug 20, 2018, 9:07 AM Luiz Felipe da Cruz Oliveira <
notifications@github.com> wrote:

[2018-08-27 15:46] vishwakarma commented on #76
Hi @danieldonev, Apologies for getting back so late on this.
The changes requested are currently beyond the scope of this RFC implementation.

[2018-08-27 15:46] #76 closed

[2018-09-02 06:37] vishwakarma commented on #77
Fixed by PR #78

[2018-09-02 06:37] #77 closed

[2018-09-13 13:09] sbaunthiyal opened #79 "ADD"
Hello , I was expected "op":"add" for the following comparison.

**target** : {"title":null,"firstName":"William","middleName":null,"lastName":null,"gender":"Male"}
**source** : {"title":null,"firstName":null,"middleName":null,"lastName":null,"gender":null}
**Result** : [{"op":"replace","path":"/firstName","value":"William"}, "op":"replace","path":"/gender","value":"Male"}]

Code : JsonNode result

[2018-09-13 13:55] vishwakarma commented on #79
Operation Add indicates the creation of new fields in JSON.
Operation Replace indicates updating existing fields value in JSON.

In above example:
Field William already exists, so we just need to update its existing value.
In case, field William didn't exist then we would have created a field with value

[2018-09-13 14:32] sbaunthiyal commented on #79
Hi Vishwakarma , Thanks for the quick response

Here is my use case. I’ve two instances of Person class. The new one has values populated whereas Old one has null or spaces. Now I convert both to Json and feed to your method. The operation I was expecting as ADD since values added to elements(firstName,lastName,gender) whereas in old they were Null/Spaces.

ObjectMapper mapper = new ObjectMapper()

[2018-09-13 14:32] #79 closed

[2018-09-13 14:44] sbaunthiyal commented on #79
Okay , I created one more class Person1 with additional variable "Age" , When Person and Person 1 are compared. It responded with "ADD".

So now my understanding is JsonDiff.asJson will revert with "ADD" when new element is added not when **value** to element is added.

Right ?

[2018-09-13 14:50] vishwakarma commented on #79
Yes, you are right

[2018-11-02 11:44] fredrik-yttergren opened #80 "Automatic Module Name"
Hi. Thanks for an excellent library. I'm currently looking at migration from Java 8 to Java 11 in projects at work and am having issues relating to the module path, especially with the lack of automatic module name for this project. I understand the value of remaining compatible with Java 6, so would suggest that you add an Automatic-Module-Name entry to your manifest-file to make life easier for

[2018-11-02 13:20] vishwakarma commented on #80
Thanks, @fredrik-yttergren for bringing out the issue.
Please allow me a couple of days to try and test it out ( since I haven't used Java 11  and need a bit of background before doing the requests change :) )

[2018-11-02 13:29] fredrik-yttergren commented on #80
Sure, no worries, I'm just learning it myself right now by trial and error ;)

[2018-11-03 08:42] goldsam opened #81 "Allow for fuzzy patching"
In some applications it is useful to support "fuzzy" patching where it is acceptable for some patch operations to fail. Ideally, such an operation would be able to report all failed patch operations.

[2018-11-04 10:19] holograph commented on #81
@goldsam, can you please provide an example? From what I can tell, the RFCs stipulate that erroneous operations *SHOULD* terminate processing (see [RFC 6902 section 5](https://tools.ietf.org/html/rfc6902#section-5)), whereas the HTTP JSON Patch (see [RFC 5789 section 2.2](https://tools.ietf.org/html/rfc5789#section-2.2)) recommends emitting 409 Conflict responses for similar situations.

While the

[2018-11-05 20:22] rdanek-oanda opened #82 "Encoding/Decoding of paths with escaping is broken"
Consider the path fragment `abc~0~1`. When the `~` characters are escaped, this is encoded correctly as `abc~00~01`. However, decoding it will incorrectly yield `abc~0/` .

The problem piece of code is in [PathUtils.java](https://github.com/flipkart-incubator/zjsonpatch/blob/master/src/main/java/com/flipkart/zjsonpatch/PathUtils.java):

[code]

`decodePath` needs to decode in the reverse order of

[2018-11-07 12:58] LouizFC commented on #63
Closing this issue, see #73 for more info

[2018-11-07 12:58] #63 closed

[2018-11-08 22:13] solidatyoungdevdotnet opened #83 "feature request: add a flag to provide non-cumulative diff operations instead of ONLY patch ops"
USE CASE: Build graphical editor for modifying custom json schema structure and text that includes a button to identify differences graphically for user to review.  Differences should be displayed inline in the editor (think tooltip/annotations inside document)
We are trying to use Zjsonpatch as the diff engine to compare the original json doc to the edited json doc which works fairly well but the

[2018-11-10 22:35] LouizFC commented on #83
@solidatyoungdevdotnet I am sorry, but I could not understand exactly what you want.

For what I understand: You want that each operation of the resultant patch be a "standalone" operation instead of depending on each other sequentially?

In that case, depending on the complexity of your document, I would recommend you to use the "OMIT" flags and process all the remove and add operations yourself.

[2018-11-10 22:39] LouizFC commented on #83
Sorry, I forgot to clarify this paragraph

By that, I mean, that, since you have this library do all the "heavy lifting" of creating all the diffs, you could calculate all this paths yourself, for example:
This given patch:
[code]
would become:
[code]
This because you are removing the 0 position two times.

[2018-11-13 15:19] solidatyoungdevdotnet commented on #83
how would I get just the DELTA ?  you say

How do I do that?  The documentation for getting the diff/delta is pretty thin

[2018-11-16 12:33] LouizFC commented on #83
Sorry, I am not familiar with the term DELTA.

What I meant was: You could set the all the `OMIT` flags on your JsonDiff:
[code]
Them get all `path` properties on your "patch objects' and calculate the correct paths using.

I could help you come up with a solution. Can you please provide a more complex example? Preferably one that alter many "levels" on the json and alter fields and indexes

[2018-11-19 18:20] gwendal-lecren opened #86 "The full object path is not getting removed"
While generating a patch through the method `JsonDiff.asJson(final JsonNode source, final JsonNode target)` we run into a strange behavior. Using this method with source objects wrapped into a list and empty target objects, we get as a diff result the all keys removed but not the full path of the object.

Example:

Json source object:
[code]

Json target object:

[code]
We get:

[code]
We expect:

[2018-11-20 09:24] #86 closed, assigned to nobody

[2018-11-28 19:58] goldsam commented on #81
My specific use case is an implementation of Neil Fraser's [Differential Synchronization](https://neil.fraser.name/writing/sync/) algorithm. In short, the idea is take frequent diffs between an actively edited document and a recent "shadow" copy of a shared/synchronized document. Synchronization is achieved through exchange of versioned diffs. The algorithm is reliant on a fuzzy patch algorithm. T

[2019-01-22 07:26] shaozhengmao opened #88 "complex json array，the result of comparison is inaccurate."
eg.
source:[6772982,20190118,[19]]
target:[6772982]

        JsonNode diffResultNode = JsonDiff.asJson(actualNode, expectNode, flags);
        System.out.println(diffResultNode);

result:
[{"op":"remove","path":"/1","value":20190118},{"op":"remove","path":"/1","value":[19]}]

i think, the result should be：
[{"op":"remove","path":"/1","value":20190118},{"op":"remove","path":"/2","value":[19]}]

[2019-01-22 08:40] holograph commented on #88
Sorry but you got it wrong: the patch is applied sequentially and _mutates_ the resulting node, so referencing `/2` would actually be invalid and error out (see [RFC 6902](https://tools.ietf.org/html/rfc6902#section-3) section 3: "Operations are applied sequentially in the order they appear in the array.  Each operation in the sequence is applied to the target document; the resulting document beco

[2019-01-23 07:39] shaozhengmao commented on #88
i get it, thanks ;)

[2019-01-23 09:17] #88 closed

[2019-01-25 11:16] LouizFC opened #89 "RFC6901 compliance may present backward incompatible changes"
I was working on as PR for #82. I found the this lib lacks a test for RFC6901 (JsonPointer specification), I should have noted this on #60, for which I am sorry.

I have read thru the [RFC6091 spec](https://tools.ietf.org/html/rfc6901). The doc presents a very simple Json for tests at [section 5](https://tools.ietf.org/html/rfc6901#section-5):

[code]
I have added a test to our lib:
[code]
Which p

[2019-02-03 14:29] Hubbitus opened #91 "Patch with context (created with ADD_ORIGINAL_VALUE_ON_REPLACE) must fail on value mismatch"
You have useful `com.flipkart.zjsonpatch.DiffFlags.ADD_ORIGINAL_VALUE_ON_REPLACE` flag on patch creation. But such context fully ignored on apply time!

Please look at [test](https://github.com/Hubbitus/json-diff-test/blob/9feecac0d436d6a3484f5d5068fadb0a22979cdc/src/test/groovy/SimpleTest.groovy#L90-L107):
[code]
Now it succeed, but I want mode when it failed with `JsonPatchApplicationException`

[2019-02-03 14:53] holograph commented on #91
`com.flipkart.zjsonpatch.DiffFlags.ADD_ORIGINAL_VALUE_ON_REPLACE` is there to aid in debugging, it's an extension to the RFC. I'm OK with adding a "check" flag (that should clearly indicate this is _not_ standard), but IMO if what you need is data integrity, a much better approach would be to emit `test` nodes in the patch (instead of just the convenience value), which _is_ part of the standard an

[2019-02-03 16:53] Hubbitus commented on #91
Sorry I do not understand that. Could you please provide example?
And yes, I could archive context for data integrity to ensure apply is not destructive. Some sort of `optimistic locking`. What I suggest implement is behaviour similar to GNU diff.

[2019-02-03 22:15] holograph commented on #91
Try:
[code]
Should work as expected. If this is what you mean, `DiffFlags` could be modified to include flavours of `EMIT_TEST_OPERATIONS`, which is similar to `ADD_ORIGINAL_VALUE_ON_REPLACE` but doesn't require custom extensions to the RFC. @vishwakarma what do you think? If it seems reasonable I can pick this up.

[2019-02-03 22:18] holograph commented on #81
Picking this up, this would essentially be providing a "fuzzy processor" instead of the default one, which suggests this could easily be done outside of the mainline codebase (which I feel should accurately reflect the RFC). That being said, any refactoring or convenience that can make this easier is definitely on the table...

[2019-02-04 09:32] holograph commented on #91
@Hubbitus I implemented this in #92, have a look if that works for you :-)

[2019-02-04 17:24] Hubbitus commented on #91
It looks very well. Thank you very much! And if it is RFC then it indeed better approach then I suggest initially.

But I think it it have worth provide context on what path and value apply failed and extends tests on each type where such node may be present. Could you please look at comment https://github.com/flipkart-incubator/zjsonpatch/pull/92/files#r253562286

[2019-02-06 08:33] AshishHNP opened #93 "Supporting wildcard in path"
Hello,
I was wondering if its possible to add support for wildcard in path.

[code]

In the example of:
`{ "op": "replace", "path": "/biscuits/*/name", "value": { "name": "ChangeEverything" } }`

would lead to:

[code]
In case we aren't sure the amount of entries in an array, supporting this could help generalize it and allow updates everywhere. JsonPath library I believe supports it, but not sure

[2019-02-06 09:18] holograph commented on #93
JSON Patch (RFC 6902) is built on top of JSON Pointer ([RFC 6901](https://tools.ietf.org/html/rfc6901)), which doesn't support wildcards. This would be a nonstandard extension that wouldn't be compatible with _any_ other implementation, so for my money it wouldn't be advisable to support this. @vishwakarma ?

[2019-02-06 19:56] vishwakarma commented on #93
I agree with @holograph, We should not diverge from RFC.

[2019-02-07 10:40] #93 closed

[2019-02-07 11:01] holograph opened #94 "Improve error messages (especially for test ops)"
As @Hubbitus wrote [here](https://github.com/flipkart-incubator/zjsonpatch/pull/92#discussion_r253562286), error messages generated when `test` ops fail are somewhat lackluster. Let's improve them :-) (I'll open a separate PR on this soon-ish)

[2019-02-07 11:03] holograph commented on #91
I'm working on that separately (see #94), but in the meantime I also realized we likely have defective generation of `test` ops for `{"op":"test","path":"-",...}` nodes. I'll add a test case and fix it soon.

[2019-02-13 20:54] holograph commented on #91
@Hubbitus Take a look at the proposed changes in #94, I believe they'll make you happy :-) In the meanwhile, I believe this issue in general has been addressed...

[2019-02-13 20:54] #91 closed

[2019-02-13 20:55] holograph commented on #81
@goldsam Still interested? Would appreciate a followup, otherwise I believe we can close this @vishwakarma

[2019-02-13 20:57] holograph commented on #72
Well no dice on constructing a bespoke example. If anyone has a repro case I'd be happy to look this over, please do comment here (or on a new issue). In the meantime I'm closing this...

[2019-02-13 20:57] #72 closed

[2019-02-15 17:09] goldsam commented on #81
A custom processor would be a solution, but this currently can't be done outside of the main codebase because the only static method in `JsonPatch` that accepts a `JsonPatchProcessor` is private.

Ideally, it would be nice to implement this by leveraging the current implement of the `InPlaceApplyProcessor` but override the `void 4rror(Operation forOp, String message)` method. This would imply maki

[2019-02-15 23:47] holograph commented on #81
Eugh. You're absolutely correct, my only concern is that once these interfaces are made public it'll be hard to modify them (as I did in #95), and they'll need some serious documentation.

For my money, the "right" way to go is the first two out of your three wishlist items, and if you want to take a stab at it, I'm all for it!

[2019-02-21 03:58] goldsam commented on #81
Without exposing the `void error(Operation forOp, String message)` method publicly, there is not a great deal of benefit (that I can see) in exposing class `InPlaceApplyProcessor` as a part of the public API. At least, I can't think of any other use cases for adding this class to the public API.

That being said, I think it makes more sense to provide a simple extension point for customizing error

[2019-02-21 08:02] holograph commented on #81
It's a possibility, but I'm not sure it's actually the right strategy. To start with, the API is somewhat limited in what it can offer (e.g. it's possible to write a "ignore test-op failures" strategy, but harder to only do so on specific nodes; it needs more context for error handling). Second, I'm hoping #95 gets merged, in which case I expect a lot of merge conflicts. I actually forked that bra

[2019-02-22 11:23] LouizFC commented on #81
Sorry for the delay @holograph .

The changes presented by @goldsam looks good, but I also think that it is not the right way to handle it.

I am also a bit reluctant to expose  the Processor API, because it is the "core" of the library. While it provides users with much more freedom and flexibility, it limit us on the kind of change we can make (for example, if exposed earlier, #95 would not be p

[2019-02-22 16:43] goldsam commented on #81
Another idea -  The set of JSON Patch operations is finite and small. You could introduce an `JsonPatchErrorHandler` API with a method for each operation where all arguments would be elements of the current public API. This would be flexible while not exposing any existing elements of the current internal implementation. Maybe something like this:

[code]

[2019-02-25 15:48] oactivation opened #98 "Crash with "remove" operation when path contains a large integer value."
Hi Json Patch team,

We are using zjson patch to help us manage user preferences, we use unix timestamps as a unique ID in the data we are storing.  When we use a remove operation on paths that include these keys we get a crash in JsonDiff.java.  Here is a sample patch operation that produces it:
{"op":"remove","path":"/profiles/AdvancedCharting/profiles/1509638193736/tradingView/data/charts/0/pan

[2019-02-25 16:34] LouizFC commented on #98
Hello @oactivation , thanks for reaching us out

could you please inform what version you are having this issue? this sounds very familiar, I think we already fixed it some time ago.

[2019-02-25 19:57] oactivation commented on #98
Hi,
Thanks very much for the speedy response, the linked issue looks to be the same as what we are experiencing and we are on a version that pre-dates that fix.  I am working now to upgrade our version and verify the fix but I think that you should consider this issue a duplicate.  I will close the issue when I confirm, thanks very much for your help.

[2019-02-26 17:59] LouizFC commented on #81
@goldsam this introduces some boilerplate to users that want to implement it (but again, this would be a "power user" feature), but seems usable.

@holograph what do you think? I think the best way to handle this would be:
- Wait for #95 to be merged.
- Make JsonPatch instantiable (and immutable, maybe with a builder or similar mechanism), so we do not need to polute JsonPatch#apply

[2019-02-26 19:11] LouizFC commented on #81
Another idea to the pile:

- Maintain the first API (only one method for error handling)
- Rename [Diff.java](https://github.com/flipkart-incubator/zjsonpatch/blob/master/src/main/java/com/flipkart/zjsonpatch/Diff.java) to `Patch`, make it public, but maintaining everything else internal / package-private.
- Pass it to the handler, making the signature be something like `handlePatchError(Operation

[2019-02-26 19:57] goldsam commented on #81
I've got one more wrench to throw into the mix:

When building an application that modifies a document explicitly (such as mine does), such modifications could be expressed as patch operations. This use case would reduce the complexity of building a patch to constant time without the need for searching or comparing (keep in mind my use case is a real-time collaborative editor). However, it would r

[2019-03-16 04:43] #94 closed

[2019-03-18 13:07] LouizFC commented on #82
Fixed in #95

[2019-03-18 13:07] #82 closed

[2019-03-18 13:09] LouizFC commented on #89
@holograph @vishwakarma  do you think we can close this? I was worried about backward compatibility

[2019-03-18 13:38] Hubbitus commented on #91
Thank you very much!

[2019-03-18 14:48] holograph commented on #89
The worry is legitimate, but I honestly don’t know if anyone is likely to
run into this (these are fairly esoteric cases). My 2 cents: close it and
reopen as a backwards compatibility issue if anyone complains (otherwise it
just pollutes the api unnecessarily).

On Mon, 18 Mar 2019 at 15:09 Luiz Felipe da Cruz Oliveira <
notifications@github.com> wrote:

[2019-03-18 14:57] LouizFC commented on #89
@holograph agreed. Thank you for your input

[2019-03-18 14:57] #89 closed

[2019-03-28 15:05] #98 closed

[2019-03-29 17:13] cheenu2 opened #100 "patch of a root array does not work"
## Expected Behavior
![Screenshot_2019-03-29_12-08-34](https://user-images.githubusercontent.com/5622708/55250275-d3a65a00-521b-11e9-9580-39562ad071bb.png)

## Actual Behavior
[REPLACE Operation] Missing field "0" at root
	at com.flipkart.zjsonpatch.JsonPatch.process(JsonPatch.java:112)
	at com.flipkart.zjsonpatch.JsonPatch.apply(JsonPatch.java:127)
	at com.flipkart.zjsonpatch.JsonPatch.apply(Json

[2019-03-29 17:35] cheenu2 commented on #100
Sorry, my mistake .. had incorrect input .. closing.

[2019-03-29 17:35] #100 closed

[2019-04-07 03:16] goldsam commented on #81
Any new thoughts on this?

[2019-04-10 09:13] yuanmei-norra opened #101 "Diff two json with list node, same values and different orders"
## Expected Behavior
shouldn't have patch, I think the JsonDiff should be more intelligent.

## Actual Behavior
have patch value
[{"op":"add","path":"/ids/0","value":103},{"op":"add","path":"/ids/1","value":102},{"op":"remove","path":"/ids/3","value":102},{"op":"remove","path":"/ids/3","value":103},{"op":"add","path":"/mails/0","value":"aaa@abc.net"},{"op":"remove","path":"/mails/2","value":"aaa@a

[2019-04-10 11:06] holograph commented on #101
I'm not sure what you're getting at here - order matters for JSON documents, and these two documents are clearly not identical. Am I missing something?

[2019-04-10 22:27] LouizFC commented on #101
I concur with @holograph

Attribute ordering (by attribute, I mean key value pairs) is irrelevant ,aside from some use cases, and of course, the stetic appeal. But the [JSON Patch Specification says at section 4.6](https://tools.ietf.org/html/rfc6902#section-4.6) that arrays are considered equal if they have the same elements in the same order.

[2019-04-10 22:34] LouizFC commented on #81
@goldsam nothing new. I am trying to squeeze some free time to make some refactorings that will make this issue more easy to implement, but until then I think there is not much I can do.

[2019-04-11 01:40] yuanmei-norra commented on #101
I got your point.  Because I have two entity, and convert to json, then do json diff. But the order maybe different for some arrays(although have same values), so I cannot do json diff directly. I need to sort them first.

[2019-04-12 09:05] #101 closed

[2019-08-12 14:01] floriangrundig opened #104 "Invalid diff created when DiffFlags.OMIT_COPY_OPERATION is omitted"
Hi all,

first thank you for that awesome library :)

We've encountered a bug where a diff created via
[code]
^ In other words the generated diff is invalid. An exception is thrown when applying the diff...

## Expected Behavior
Given source and target json.
Then  target  equals  JsonPatch.apply(JsonDiff.asJson(source, target), source)

## Actual Behavior
thrown exception: [COPY Operation] Missing

[2019-08-12 15:20] holograph commented on #104
Confirmed. Looking into it

[2019-08-12 15:56] holograph commented on #104
Interim investigation shows that, as one would expect, [this line](https://github.com/flipkart-incubator/zjsonpatch/blob/master/src/main/java/com/flipkart/zjsonpatch/JsonDiff.java#L103) turned out to be a really bad idea :-)
[code]
I'm still trying to figure out exactly what this does and why, I imagine it'll have to be rewritten with a bunch of unit tests for future proofing.

[2019-08-13 10:56] holograph commented on #104
As far as I can tell the copy calculation mechanism is fundamentally broken; it finds nodes in the document that stay the same (position/value) after applying the patch, and makes a few assumptions about whether or not they're valid to use. The problem is, copy ops source from the _current_ document as the patch is being applied, meaning that assumption can always be busted.

I'm currently researc

[2019-08-19 14:26] Tom-Ritense opened #105 "Disable removal patch operation via flag"
## Expected Behavior

I would like to only replace/add json content to existing json content.
I don't want a subset patch to remove my already populated properties.

An example:

Existing json content:
{"firstName": "John",  "age": 18}

Proposed json content
{"firstName": "Richard"}

## Actual Behavior

There is no way to disable the removal operations. I was thinking about building my own process

[2019-10-02 15:23] BrandonDudek opened #108 "Not Recognizing Moves in Collections"
## Expected Behavior
If an entry in a collection changes index in a collection, it should be reported as a move.

## Actual Behavior
It is being reported as a replace.

## Steps to Reproduce the Problem
`JsonDiff.asJson(new ObjectMapper().valueToTree("[1, 2, 3]"), new ObjectMapper().valueToTree("[2, 1, 3]"));`

## Specifications
zjsonpatch 0.4.9
Java 1.8
jackson 2.9.7

[2019-10-06 12:58] holograph commented on #108
To clarify, the result is `[{"op":"replace","path":"","value":"[2, 1, 3]"}]`, which _is_ a valid diff. As things stand we don't have a clear-cut strategy for diff generation (e.g. smallest, fastest-to-diff, fastest-to-apply...), so any decision is equally correct and idiotic :-)

[2019-10-31 22:13] holograph commented on #108
I'm pretty comfortable closing this, unless anyone wants to pick up the discussion and try to formalize the different strategies and/or how to implement them...?

[2019-10-31 22:15] holograph commented on #105
I'm not really clear on what you're aiming for.. there _are_ two changes in your example. Do you mean you want to get two separate JSON diffs representing each change in sequence? If so, you can easily just take the resulting array and just index it...

[2019-11-04 18:03] BrandonDudek commented on #108
Since the current implementation is technically correct, but I would argue that what I was looking for would be "more correct".
Can this issue be changed from a Bug to a Feature Request? (There could even be a DiffFlags option.)

[2019-11-11 19:14] dandoug opened #110 "zjsonpatch no longer compatible with Java 6"
## Expected Behavior
Expect to run programs with JDK 6

## Actual Behavior
Get

[code]

## Steps to Reproduce the Problem
Run any simple test program with JDK 6

## Specifications

Library Version:  0.4.5
Language (e.g. Java 1.8, Scala, etc):

The problem is that zjsonpatch 0.4.5 introduced a dependency on on
[code]
which was build with Java 7

[code]

Since Java 6 is so old, suggest that simplest

[2019-11-12 01:27] kringol opened #111 "More detailed JsonPatchApplicationException"
## Expected Behavior
On version 0.4.7 the exception message was something like `"[ADD Operation] parent is not a container in source, path provided : //num/- | node : 100`"
And there was no other way to extract actionable info from the exception

## Actual Behavior
On version 0.4.9 the exception message became (for example): `"Cannot reference past scalar value"`
An Operation and JsonPointer field

[2019-11-19 14:36] naumanshah03 commented on #32
@rrva Can you help me to achieve this feature?
What changes would be required and how to use it?

[2019-11-20 13:31] holograph commented on #32
This would essentially require treating all arrays as sets. You could probably achieve this by rewriting `JsonDiff.compareArray` to create a set of array elements on both source and destination, compare and apply accordingly; this really goes against the grain of the RFC, though, and the library was never designed for it, so there might be more work to do.

[2019-11-20 13:36] holograph commented on #108
Oh I don't disagree (maybe just about the "level of correctness" assertion), and this can definitely by a worthwhile feature requests, but I think it bears defining a bit more carefully what these options are designed to accomplish.

[2019-11-21 06:24] naumanshah03 commented on #32
My current approach,
Perform a JSON sort (JSON Object cannot be sorted so provided some parameter based on which this sort will happen) and then give it for diff. This has solved my main concern of Array reorder (although it reorder is considered a diff)

Thank you for your response.
I have checked through the open and closed issues and I saw that this is the most heavily requested issue even thou

[2019-11-29 00:46] pjungermann opened #113 "Improve JsonDiff#compactDiffs by also considering replace"
## Expected Behavior
only move operations
[code]

## Actual Behavior
1 remove, 1 replace, 1 add operation
[code]

## Steps to Reproduce the Problem
[code]

## Specifications

Library Version:  0.4.4
Language (e.g. Java 1.8, Scala, etc): Java 11

I found this behavior while trying to understand and debug https://github.com/tomakehurst/wiremock/issues/1230

[2019-11-29 18:25] aantoniuk-gl commented on #18
What about this bug? It's been created more than 3 years ago

[2019-11-29 18:47] aantoniuk-gl commented on #113
the same issue

[2019-12-07 14:36] LouizFC commented on #113
As I understand, the way we compact transformations prioritizes `replace`, `move` and `copy` respectively.

I will run some tests when I get some time, but I think it is possible to make an API where people can choose the "method" that they want to prioritize. Making some general rule would make Diffing more costly than it already is, and we still would not cover all people preferences, so I think

[2020-01-03 12:37] rzorzorzo opened #114 "FYI: adapted to vertx-json"
Hello,
thank you for your project. Since I am using it with vertx, I have adapted it to vertx-json:
https://github.com/rzorzorzo/vertx-json-patch

-- Ron

[2020-01-13 21:18] #114 closed

[2020-01-13 21:19] vishwakarma commented on #110
Sure, Thank you

[2020-01-13 21:19] #110 closed

[2020-01-23 19:50] Sourabh25 opened #115 "Can we get the difference in both the json files"
I want to compare two jsons and if they are equal. if there is a difference , I just want to display the difference. With the JsonDiff class I can only get the difference in the current string.

please find below my code

			ObjectMapper jacksonObjectMapper = new ObjectMapper();
			JsonNode beforeNode = jacksonObjectMapper.readTree(jsonActual);
			JsonNode afterNode = jacksonObjectMapper.readTree(

[2020-02-25 16:20] robseed opened #116 "Diff then patch fails on certain json"
## Expected Behavior
If JsonDiff.asJson succeeds then JsonPatch.apply should succeed

## Actual Behavior
JsonPatch.apply fails with `[MOVE Operation] Missing field`

## Steps to Reproduce the Problem

[code]

## Specifications
The json looks contrived, but it is a real world example from comparing facebook posts.
Java 1.8, Jackson 2.9.9, zjsonpatch 0.4.9

[2020-02-27 09:48] holograph commented on #116
Error reproduced, I'm looking into it. Especially with the error message it is indeed quite strange.

[2020-02-27 11:11] holograph commented on #116
OK, the problem has to do with JSON Pointer semantics. When processing a list of diffs to introduce `move` ops, the assumption is the a numerical path segment is an array index (which means it has to be taken into account in adjusting the resulting paths).

That is incorrect: JSON Pointer doesn't actually know whether a path segment refers to array or object. For example, the path `/0/abc` will co

[2020-06-09 08:59] tutufool opened #118 "How to ignore certain elements and child element order"
Someone recommend this library for my question:

https://stackoverflow.com/questions/62277192/how-to-compare-2-json-by-ignoring-some-attributes-and-child-element-orders

I'm wondering whether it's doable with zjsonpatch, and if yes, any document or code sample I can follow?

[2020-06-09 09:03] holograph commented on #118
Ignoring an element can conceivably be a fairly easy feature to implement, but I'm not sure this makes sense in the scope of diffing/patching. What you're looking for involves considerable business logic and schema reasoning, neither of which makes sense to me in the context of JSON Patch (or JSON in general).

That being said, there's nothing stopping you from doing it anyway -- there's always th

[2020-06-09 10:45] tutufool commented on #118
Ignoring element should be easy since I can do  raw data --- > Patch --- > filtered Patch with your lib.
I'm just wondering whether I can ignore the order of child, i.e: treat it as set rather than list.

[2020-06-09 12:48] holograph commented on #118
JSON doesn't have the concept of sets, and child/array index order really matters (and is therefore baked into the JSON Patch RFC). Consequently the library has no built-in support for that, and in my opinion it would be inappropriate for a library purporting to be RFC-compliant; maybe @vishwakarma has different ideas though...

[2020-06-09 13:26] tutufool commented on #118
Never mind, I find something that may work for my case:
https://github.com/lukas-krecan/JsonUnit#options

Anyway, thanks a lot!

[2020-06-09 13:26] #118 closed

[2020-06-19 09:40] atul-chainthat opened #119 "Feature Request: How much deep a json should compare."
Please Note: I am not aware if this functionality is already there in this library, but found this functionality in some of the javascript libraries.

Example 1:

original json:-
`{
    "employee":
    {
        "id": "1212",
        "fullName":"John Miles",
        "age": 34,
        "contact":
        {
            "email": "john@xyz.com",
            "phone": "9999999999",
            "address"

[2020-06-21 14:03] vishwakarma commented on #119
@atul-chainthat , Currently this functionality is not present in this library.
The whole idea of this library to minimise the the diff size thats why this feature is not present at this moment.
You may read about what all is supported here - https://tools.ietf.org/html/rfc6902 as this library is an implementation of this RPC.

Further, can you please provide a use-case where this feature would be

[2020-08-24 08:39] AShnyakin opened #121 "Remove operation builds an incorrect path with duplicate indexes for arrays"
## Steps to Reproduce the Problem
Build diff using JsonDiff.asJson() with the following jsons:

1. Current
[code]

2. Modified
[code]

Removed last two objects from array

## Expected Behavior
Json Patch document
[
    {
        "op": "remove",
        "path": "/documents/2"
    },
    {
        "op": "remove",
        "path": "/documents/1"
    }
]
## Actual Behavior
Json Patch document
[
    {

[2020-08-24 12:17] grimsa commented on #20
Note: `jackson-coreutils` moved under `java-json-tools` group ID: https://github.com/java-json-tools/jackson-coreutils

[2020-08-24 12:30] holograph commented on #121
That is actually correct behavior; patches are applied on the state of the target object that they operate on. This means the two options are actually equivalent ([1,2,3] -> [1,2] -> [1] vs [1,2,3] -> [1,3] -> [1]).

The implementation is free to choose whichever option it prefers; is there any advantage to the proposed alternative?

[2020-11-08 02:53] jvpepino opened #124 "Feature Request: Ignore movement of array elements"
Is there a way to currently to set a flag so that the diff ignores movement within an array?

For example:

[“a”, “b”] diffed with [“b”, “a”] would have no diff.

[2020-11-10 16:07] vishwakarma commented on #124
@jvpepino Apologies, but this is not supported at the moment.

[2020-11-10 16:07] #124 closed

[2020-11-10 16:08] vishwakarma commented on #119
No further response from the OP, closing the ticket

[2020-11-10 16:08] #119 closed

[2020-12-06 01:41] vab2048 commented on #80
This issue seems to persist in 2020 - any update on how to deal with it?

[2020-12-14 13:12] SquirrelGrip commented on #121
While both ways work, there is a single advantage to having the remove start from the last element and work towards the first element. The advantage comes when performing operation transformation.

Given a document {a:[1,2,3]}
Create patch A for {a:[1,3]} => [{"op": "remove","path": "/a/1"}]
Create patch B for [a:[]} => [{"op": "remove","path": "/a/0"},{"op": "remove","path": "/a/0"},{"op": "remov

[2020-12-18 09:06] jiangsuxd opened #125 "Unexpected result while applying copy operation"
As the original source and target json file size is too big, here I just describe the problem because the bug is explicit.
The generated copy operation is {"op": "copy", "from": "/data/109/id", "path": "/data/75/id"} which would cause wrong copied value when one or more item of 'data' array has been removed. For example, when /data/50 was removed by remove operation before copy, then /data/75/id w

[2020-12-18 09:33] jiangsuxd commented on #125
I think this function only solved 'array index out of bound' exception although number comparison is fixed. There still exists array index disalignment problem when element is removed from array before copy operation applied.

[2021-01-07 03:58] elvinfucom opened #126 "High - CVE-2020-25649 - jackson-databind-2.10.3.jar"
## Expected Behavior
Upgrade to version com.fasterxml.jackson.core:jackson-databind:2.11.0.rc1,2.10.5,2.9.10.7,2.6.7.4
Message: Upgrade to version
Details: https://github.com/FasterXML/jackson-databind/issues/2589

## Actual Behavior
A flaw was found in FasterXML Jackson Databind, where it did not have entity expansion secured properly. This flaw allows vulnerability to XML external entity (XXE) a

[2021-04-06 16:21] sparkym3 opened #131 "Number format exception on Map with key larger than Integer value"
## Expected Behavior
No exception thrown when patching.

## Actual Behavior
NumberFormatException thrown.

## Steps to Reproduce the Problem
On a map with a key that is numeric but larger than an Integer, attempt to generate a patch.

## Specifications
On versions after 0.4.6, on the below line in JsonDiff, it calls into isArrayIndex() rather than doing the previous instanceOf check. Since there i

[2021-05-24 15:26] upsidedownsmile opened #134 "Wrong Path when comparing arrays"
## Expected Behavior
`
source: "a", "b", "c"
target: "c", "b", "a"
`
When comparing these 2 lists it is expected 4 changes:
1 - "c" was added, path is "/0"
2 - "b" was added, path is "/1"
3 - "b" was removed, path was "/1"
4 - "c" was removed, path was "/2"

## Actual Behavior
Instead, I'm getting this:
1 - "c" was added, path is "/0"
2 - "b" was added, path is "/1"
3 - "b" was removed, path was "

[2021-05-24 16:56] LouizFC commented on #134
@upsidedownsmile The behaviour is right.

JsonPatch is applied "step by step". If you debug it like so, you get:

[code]

[2021-05-24 17:20] upsidedownsmile commented on #134
Thanks for the explanation, I didn't know that it worked like that.

But, according to the README:
[code]

If we includes `MOVE` changes by removing the flag `DiffFlags.OMIT_MOVE_OPERATION`, you will get 2 changes (which is my use-case):
1 - `{"op":"move","from":"/2","path":"/0"}`
2 - `{"op":"move","from":"/2","path":"/1"}`

The path is not consistent with what is in the README.

[2021-07-29 10:09] chetanti commented on #27
@sudhak271, were you able to get source value as well in diff result ?
If yes, can you please help me with solution , i am also having something similar need.

[2021-08-14 07:15] Quantum64 opened #136 "Incorrect diff generated for some object nodes"
I only have a preliminary understanding of this issue. Reporting now because it is causing havoc in our recently launched production system. I am planning to thoroughly investigate and potentially PR a fix in the coming days.

[code]

Incorrectly outputs
[code]

Notice two values being moved to key `3`.

**Temporary Workaround**: Disable move operations.

[2021-09-30 12:44] quarterpastsix opened #137 "Link in title is a dead link."
## Expected Behavior
link works

## Actual Behavior
link dont works

## Steps to Reproduce the Problem
click on link
http://tools.ietf.org/html/rfc6902 This is an implementation of ->RFC 6902 JSON Patch<- written in Java.

## Specifications
yes

Library Version:
Language (e.g. Java 1.8, Scala, etc):

[2021-09-30 12:55] holograph commented on #137
Strangely enough the behavior depends on your user agent; with Chrome it actually redirects to https://datatracker.ietf.org/doc/html/rfc6902. Either way, the documentation should be updated to reflect that

[2021-12-28 06:38] aerofish opened #139 "Maybe it's already discussed, but anyone think of how to patch array member in a more flexible approach?"
## Expected Behavior
When manipulate the array, select a member of array by a given key.
## Actual Behavior
In the RFC 6902, it's define the to select a member of array with index. But it's really not convenient due to it's related to the sorting. When multiple operations work on the same array, the final order of the array members become unpredictable.
Is there anybody solve this issue?
## Steps

[2022-02-15 09:16] vishwakarma commented on #137
Updated the dead links.
Thanks @quarterpastsix for pointing out.

[2022-02-15 09:16] #137 closed

[2022-04-05 01:17] cyruscabreracwt commented on #27
Don't know if this still helps, but adding a Diff Flag will return the original value.

![image](https://user-images.githubusercontent.com/92498430/161659011-40bc78db-43ec-4f93-8c63-b367dc91064d.png)

[2022-06-28 01:48] jielearning opened #143 "JsonDiff doesn't support generating difference for binary nodes"
Hi, it looks like JsonDiff doesn't support generating difference for binary nodes, NullPointerException with `unhandled token type VALUE_EMBEDDED_OBJECT` will be thrown in such situation. Is it possible to add support to generate difference for binary nodes? Thanks.

[code]
Output:
[code]

[2022-08-31 07:00] zzm96 commented on #131
I had the same problem and  current version is 0.4.12.

[2022-09-23 08:08] s-jepsen opened #151 "How does zjsonpatch test handle comparing numeric values?"
According to RFC 6902:

4.6.  test

   The "test" operation tests that a value at the target location is
   equal to a specified value.

   The operation object MUST contain a "value" member that conveys the
   value to be compared to the target location's value.

   The target location MUST be equal to the "value" value for the
   operation to be considered successful.

   Here, "equal" means tha